# Prevent Lombok from looking in parent directories for more configs.
config.stopBubbling = true
# Suppress spotbugs issues in Lombok code.
lombok.extern.findbugs.addSuppressFBWarnings = true
# Mark Lombok code as generated to exclude it from coverage reports.
lombok.addLombokGeneratedAnnotation = true